:root {
  --primary-color: rgb(255, 107, 196);
  --secondary-color: rgb(134, 143, 149);
  --button-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
body {
  position: relative;
  margin: 0 auto;
  font-family: "Itim", cursive;
  text-align: center;
  background-color: rgb(255, 216, 249);
}
h1 {
  font-size: 35px;
}
h2 {
  color: var(--secondary-color);
  font-size: 30px;
}
h3 {
  font-size: 25px;
  color: var(--primary-color);
}
p {
  color: rgba(0, 0, 0, 0.7);
}

/** Home Hero Section **/
img.heroHeadshotImage {
  position: relative;
  z-index: 999;
  bottom: 210px;
  height: 20%;
  width: 30%;
  border-radius: 45%;
  border: 3px solid black;
  margin: 6% 0 0 0;
}
h3.home {
  margin-bottom: 0;
}
h2.home {
  margin-bottom: 3%;
}
section.hero {
  background-image: url("/images/1background-spray.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1%;
}
div.heroSectionInner {
  max-width: 50%;
  background: linear-gradient(
    180deg,
    hsla(42, 25%, 92%, 1) 35%,
    rgb(255, 216, 249) 99%
  );
  margin: 7% auto 1% auto;
  border-radius: 10px;
  border-top: 2px solid black;
  padding: 2%;
}
div.hero-paragraph {
  max-width: 50%;
  margin: 15px auto;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}
div.welcome {
  position: relative;
  bottom: 130px;
  margin: 0 auto;
  text-align: center;
}
h1.welcomeText {
  color: rgb(175 14 137);
  font-size: 40px;
  font-family: "Playwrite HR", cursive;
  font-weight: 500;
}
div.heroText {
  position: relative;
  bottom: 200px;
}
span.flagImage {
  display: inline-flex;
  width: 16px;
  height: 16px;
}
.heroSection {
  background-color: #f0ede6;
  margin: 5% auto;
  border-radius: 10px;
  padding: 5% 2%;
}

/** Navbar Menu Section **/
nav.navbar {
  padding: 8px;
  margin: 1% 10% 3% 10%;
  border-bottom: 1px solid black;
  border-radius: 5px;
  background-color: #f0ede6;
  font-size: 25px;
}
p.brand {
  margin: 0;
  font-family: "Inknut Antiqua", serif;
  font-weight: 550;
  font-size: 25px;
}
a.navbarLinks:hover {
  text-decoration: underline;
}
a.navbarLinks {
  color: var(--secondary-color);
}
li.nav-item {
  padding: 0 15px;
}
a.active {
  background-color: var(--primary-color) !important;
  color: white !important;
  padding: 7px;
  border-radius: 5px;
}
/** About Section **/
.wrapper {
  position: absolute;
  text-wrap-mode: nowrap;
}
h1.about,
h1.technology,
h1.projectsTitle {
  font-size: 35px;
  font-weight: 600;
}
div.about,
div.projects,
div.technology {
  background-image: url(../images/headingBackground.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 2% 3%;
}
heading.about {
  margin: 0 auto;
}
section.about {
  margin-bottom: 4%;
}
section.about {
  max-width: 60%;
  background-image: url("../images/triangles1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 6% 0;
}
div.aboutSectionInner {
  max-width: 75%;
  padding: 0 5%;
}
div.aboutParagraph {
  font-weight: 500;
  margin: 0 auto;
}
.about p {
  font-size: 20px;
  text-align: justify;
}
span.funFact {
  font-weight: 600;
  color: #f725a0;
  text-decoration: wavy;
  text-decoration-line: underline;
}
/** Technologies Section **/
h1.technology {
  padding: 5px;
  margin: 0 40px 10px 5px;
}

div.technology {
  margin-top: 3%;
}
section.technologies {
  margin: 0 auto;
}
div.technologyImage {
  margin: 2% auto;
}
.technologyImage img {
  width: 500px;
}
/** Projects Section **/
h1.projects {
  color: #f5269f;
  font-weight: 580;
  margin-bottom: 0;
}
h2.projects {
  font-size: 22px;
  margin-bottom: 3%;
}
p.projectDesc {
  font-size: 20px;
}
div.projects {
  margin-top: 5%;
}
section.projects {
  max-width: 70%;
  margin: 0 auto;
}
div.projectDescriptionLeft {
  text-align: left;
  margin-left: 2%;
}
div.projectDescriptionRight {
  text-align: right;
  margin-right: 2%;
}
div.projectButtonRight {
  align-items: end;
}
.projects .row {
  margin: 5% 0 14% 0;
}
img.projects {
  max-width: 85%;
  border-radius: 10px;
}
img.projects:hover {
  transform: scale(1.3);
}
img.projectsRight {
  float: right;
}
img.projectsLeft {
  float: left;
}
a.projectLinks {
  font-size: 20px;
  text-align: center;
  padding: 12px 25px;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  background: #f0ede6;
  color: var(--primary-color);
  box-shadow: var(--button-shadow);
  text-decoration: none;
}
a.projectLinks:hover {
  background-color: #e1ded6;
}

/** Footer Section **/
section.footerSection {
  max-width: 80%;
  background-color: #f0ede6;
  margin: 2% auto;
  border-radius: 10px;
  padding: 2% 6%;
}
div.footerSocialMedia {
  text-align: left;
}
h3.footer {
  font-size: 20px;
}
a.footer {
  font-size: 16px;
}
div.footerContact {
  text-align: right;
}

/**X-Small Screen **/
@media (width < 576px) {
  /** Home Hero Section **/
  div.heroSectionInner {
    max-width: 100%;
    margin: 35% auto 1% auto;
    padding: 0;
  }
  section.hero {
    background-position: center;
    padding: 0;
  }
  img.heroHeadshotImage {
    bottom: 130px;
    height: 50%;
    width: 50%;
    margin: 15% 0 28% 0;
  }
  div.hero-paragraph {
    max-width: 80%;
    font-size: 16px;
  }
  h1.home {
    font-size: 25px;
  }
  h2.home {
    font-size: 20px;
  }
  h3.home {
    font-size: 18px;
  }
  h1.welcomeText {
    font-size: 30px;
  }
  /** Navbar Menu Section **/
  nav.navbar {
    font-size: 20px;
    margin: 0 2% 4% 2%;
  }
  p.brand {
    font-size: 18px;
  }
  /** About Section **/
  h1.about,
  h1.technology,
  h1.projectsTitle {
    font-size: 25px;
  }
  div.about,
  div.projects {
    padding: 6% 3%;
  }
  section.about {
    max-width: 90%;
    background-position: center;
  }
  div.aboutSectionInner {
    max-width: 85%;
    padding: 2% 10%;
  }
  .about p {
    font-size: 16px;
  }
  /** Technology Section **/
  div.technology {
    padding: 6%;
  }
  .technologyImage img {
    width: 300px;
  }
  /** Projects Section **/
  section.projects {
    max-width: 100%;
  }
  div.projects {
    margin-bottom: 10%;
  }
  h1.projects {
    font-size: 20px;
  }
  h2.projects {
    font-size: 14px;
  }
  p.projectDesc {
    font-size: 16px;
  }
  div.projectDescriptionRight,
  div.projectDescriptionLeft {
    text-align: justify;
    margin: 0 5%;
  }
  .projects .row {
    margin: 5% 0 20% 0;
  }
  a.projectLinks {
    font-size: 18px;
    padding: 10px 16px;
  }

  /** Footer Section **/
  section.footerSection {
    max-width: 100%;
  }
  h3.footer {
    font-size: 14px;
  }
  p.footer,
  a.footer {
    font-size: 12px;
  }
  img.footerIcon {
    width: 20px;
    height: 20px;
  }
}

/**Small Screen **/
@media (576px <= width < 768px) {
  /** Home Hero Section **/
  div.heroSectionInner {
    max-width: 90%;
  }
  img.heroHeadshotImage {
    bottom: 150px;
    height: 30%;
    width: 30%;
    margin: 14% 0 10% 0;
  }
  div.hero-paragraph {
    max-width: 80%;
  }
  /** Navbar Menu Section **/
  nav.navbar {
    font-size: 20px;
    margin: 0 2% 4% 2%;
  }
  p.brand {
    font-size: 22px;
  }
  /** About Section **/
  h1.about,
  h1.technology,
  h1.projectsTitle {
    font-size: 35px;
  }
  div.about,
  div.projects {
    padding: 6% 3%;
  }
  div.technology {
    padding: 5%;
  }
  section.about {
    max-width: 90%;
    background-position: center;
  }
  div.aboutSectionInner {
    max-width: 85%;
    padding: 2% 10%;
  }
  .about p {
    font-size: 20px;
  }
  /** Projects Section **/
  section.projects {
    max-width: 100%;
  }
  h1.projects {
    font-size: 30px;
  }
  h2.projects {
    font-size: 20px;
  }
  p.projectDesc {
    font-size: 20px;
  }
  div.projectDescriptionRight,
  div.projectDescriptionLeft {
    text-align: justify;
    margin: 0 5%;
  }
  /** Footer Section **/
  section.footerSection {
    max-width: 90%;
  }
  h3.footer {
    font-size: 18px;
  }
  p.footer,
  a.footer {
    font-size: 16px;
  }
}

/**Medium Screen **/
@media (768px <= width < 992px) {
  /** Home Hero Section **/
  div.heroSectionInner {
    max-width: 90%;
  }
  img.heroHeadshotImage {
    bottom: 150px;
    height: 30%;
    width: 30%;
    margin: 14% 0 10% 0;
  }
  /** Navbar Menu Section **/
  nav.navbar {
    font-size: 20px;
    margin: 0 2% 4% 2%;
  }
  p.brand {
    font-size: 22px;
  }
  /** About Section **/
  h1.about,
  h1.technology,
  h1.projectsTitle {
    font-size: 30px;
  }
  div.about,
  div.projects {
    padding: 4% 3%;
  }
  div.technology {
    padding: 3%;
  }
  section.about {
    max-width: 90%;
    background-position: center;
  }
  div.aboutSectionInner {
    max-width: 85%;
    padding: 2% 12%;
  }
  .about p {
    font-size: 18px;
  }
  /** Projects Section **/
  section.projects {
    max-width: 100%;
  }
  h1.projects {
    font-size: 25px;
  }
  h2.projects {
    font-size: 18px;
  }
  p.projectDesc {
    font-size: 18px;
  }
  /** Footer Section **/
  section.footerSection {
    max-width: 90%;
  }
  p.footer,
  a.footer {
    font-size: 16px;
  }
}

/**Large Screen **/
@media (992px <= width < 1200px) {
  /** Home Hero Section **/
  div.heroSectionInner {
    max-width: 70%;
  }
  img.heroHeadshotImage {
    bottom: 150px;
    height: 30%;
    width: 30%;
    margin: 10% 0;
  }
  h1.home {
    font-size: 30px;
  }
  h2.home {
    font-size: 25px;
  }
  h3.home {
    font-size: 20px;
  }
  div.hero-paragraph {
    max-width: 70%;
    font-size: 18px;
  }
  h1.welcomeText {
    font-size: 35px;
  }
  /** Navbar Menu Section **/
  nav.navbar {
    font-size: 20px;
    margin: 0 5% 4% 5%;
  }
  p.brand {
    font-size: 20px;
  }
  li.nav-item {
    padding: 0 8px;
  }

  /** About Section **/
  h1.about,
  h1.technology,
  h1.projectsTitle {
    font-size: 25px;
  }
  section.about {
    max-width: 95%;
  }
  div.aboutSectionInner {
    padding: 2% 5%;
  }
  .about p {
    font-size: 18px;
  }
  /** Projects Section **/
  section.projects {
    max-width: 100%;
  }
  h1.projects {
    font-size: 25px;
  }
  h2.projects {
    font-size: 18px;
  }
  p.projectDesc {
    font-size: 18px;
  }
  /** Footer Section **/
  section.footerSection {
    max-width: 90%;
  }
  p.footer,
  a.footer {
    font-size: 16px;
  }
}
