:root {
  --primary-color: rgb(255, 107, 196);
  --secondary-color: rgb(134, 143, 149);
  --button-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
body {
  position: relative;
  font-family: "Aref Ruqaa Ink", serif;
  font-family: "Itim", cursive;
  text-align: center;
  background-color: rgb(255, 216, 249);
}
div.container-fluid {
  padding: 2px;
}
nav.navbar {
  padding: 8px;
  margin: 1% 10% 3% 10%;
  border-bottom: 1px solid black;
  border-radius: 5px;
  background-color: #f0ede6;
  font-size: 25px;
}
p.brand {
  margin: 0;
  font-family: "Inknut Antiqua", serif;
  font-weight: 550;
  font-size: 25px;
}
a.navbarLinks:hover {
  text-decoration: underline;
}
a.navbarLinks {
  color: var(--secondary-color);
}
li.nav-item {
  padding: 0 15px;
}
a.active {
  background-color: var(--primary-color) !important;
  color: white !important;
  padding: 7px;
  border-radius: 5px;
}
img.heroHeadshotImage {
  position: relative;
  z-index: 999;
  bottom: 210px;
  height: 20%;
  width: 30%;
  border-radius: 45%;
  border: 3px solid black;
  margin: 6% 0 0 0;
}
h3 {
  font-size: 25px;
  color: var(--primary-color);
}
h3.home {
  margin-bottom: 0;
}
h1 {
  font-size: 35px;
}
h2 {
  color: var(--secondary-color);
  font-size: 30px;
}
h2.home {
  margin-bottom: 3%;
}
p {
  color: rgba(0, 0, 0, 0.7);
}
div a.buttons {
  font-size: 25px;
  text-align: center;
  margin: 20px;
  padding: 16px;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  background: #e0e0e0;
  color: var(--primary-color);
  box-shadow: var(--button-shadow);
  text-decoration: none;
}
section.hero {
  background-image: url("/images/1background-spray.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1%;
}
div.heroSectionInner {
  max-width: 50%;
  background: linear-gradient(
    180deg,
    hsla(42, 25%, 92%, 1) 35%,
    rgb(255, 216, 249) 99%
  );
  margin: 7% auto 1% auto;
  border-radius: 10px;
  border-top: 2px solid black;
  padding: 2% 2%;
}
div.hero-paragraph {
  max-width: 50%;
  margin: 15px auto;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}
div.welcome {
  position: relative;
  bottom: 130px;
  margin: 0 auto;
  text-align: center;
}
h1.welcomeText {
  color: rgb(175 14 137);
  font-size: 40px;
  font-family: "Playwrite HR", cursive;
  font-weight: 500;
}
div.heroText {
  position: relative;
  bottom: 200px;
}
span.flagImage {
  display: inline-flex;
  width: 16px;
  height: 16px;
}
.heroSection {
  background-color: #f0ede6;
  margin: 5% auto;
  border-radius: 10px;
  padding: 5% 2%;
}
heading.about {
  margin: 0 auto;
}
.wrapper {
  position: absolute;
  text-wrap-mode: nowrap;
}
h1.about,
h1.technology,
h1.projectsTitle {
  font-size: 35px;
  font-weight: 600;
}
h1.technology {
  padding: 5px;
  margin: 0 40px 10px 5px;
}
section.about {
  margin-bottom: 4%;
}
div.about,
div.projects,
div.technology {
  background-image: url(../images/headingBackground.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 2% 3%;
}
section.about {
  max-width: 55%;
  background-image: url("../images/triangles1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 6% 2%;
}
div.aboutSectionInner {
  max-width: 70%;
  padding: 0 3%;
}
div.aboutParagraph {
  font-weight: 500;
  margin: 0 auto;
}
.about p {
  font-size: 20px;
  text-align: justify;
}
span.funFact {
  font-weight: 600;
  color: #f725a0;
  text-decoration: wavy;
  text-decoration-line: underline;
}
div.technology {
  margin-top: 3%;
}
section.technologies {
  margin: 0 auto;
}
div.technologyImage {
  margin: 2% auto;
}
.technologyImage img {
  width: 500px;
}
h1.projects {
  color: #f5269f;
  margin-bottom: 0;
}
h2.projects {
  font-size: 22px;
  margin-bottom: 3%;
}
p.projectDesc {
  font-size: 20px;
}
div.projects {
  margin-top: 5%;
}
section.projects {
  max-width: 70%;
  margin: 0 auto;
}
div.projectDescriptionLeft {
  text-align: left;
  margin-left: 2%;
}
div.projectDescriptionRight {
  text-align: right;
  margin-right: 2%;
}
div.projectButtonRight {
  align-items: end;
}
.projects .row {
  margin: 5% 0 14% 0;
}
img.projects {
  max-width: 85%;
  border-radius: 10px;
}
img.projects:hover {
  transform: scale(1.3);
}
img.projectsRight {
  float: right;
}
img.projectsLeft {
  float: left;
}
a.projectLinks {
  font-size: 20px;
  text-align: center;
  padding: 12px 25px;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  background: #f0ede6;
  color: var(--primary-color);
  box-shadow: var(--button-shadow);
  text-decoration: none;
}
a.projectLinks:hover {
  background-color: #e1ded6;
}
section.footerSection {
  max-width: 80%;
  background-color: #f0ede6;
  margin: 2% auto;
  border-radius: 10px;
  padding: 2% 6%;
}
div.footerSocialMedia {
  text-align: left;
}
a.footer {
  font-size: 18px;
}
div.footerContact {
  text-align: right;
}
@media (1400px <= width) {
}
