body {
  text-align: center;
  background-color: rgb(255, 216, 249);
}
/* section {
  border: 1px solid black;
} */
section.hero {
  /* background-image: url(../images/triangles.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
}
span.flagImage {
  display: inline-flex;
  width: 25px;
  height: 25px;
}
.heroSection,
.aboutSection,
.footerSection {
  background-color: #f0ede6;
  margin: 8% auto;
  border-radius: 10px;
  padding: 5% 2%;
}
section.about {
  background-color: lightpink;
}
